<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Witaj w Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            <p>Microblog:</p>
            <a href="{{ url_for('index') }}">Strona domowa</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Zaloguj</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Twój Profil</a>
                <a href="{{ url_for('logout') }}">Wyloguj</a>
            {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>